*{
  margin: 0;
  padding: 0;
}

.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle,black,rgb(17, 17, 17));
}

.word-box{
  display: flex;
  flex-direction: row;
}

input{
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}